{% extends 'base.html'%}


{% block content%}

<div class="container" style="padding-top:70px;">

    <h4>Do you want to add a pitch:<p><a href="">Add a pitch</a></p>
    </h4>
    <div class="row">

        {% for blog in blogs %}
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Category: {{ blog.category }}</h4>
                </div>
                <div class="panel-body">
                    <p> {{ blog.title }}</p>
                    <p>{{ blog.content }} </p>
                    <p>{{ blog.posted}}</p>
                    <div class="panel-footer">Add a comment <a href="">Here</a></div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock content%}